/benchmarks/**/*
!/benchmarks/**/*.*
!/benchmarks/**/*/

.*.aux
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.glob
*.ml.d
*.ml4.d
*.mli.d
*.mllib.d
*.mlpack.d
*.native
*.o
*.v.d
*.vio
*.vo
*.vok
*.vos
*.cache
.coq-native/

Makefile.coq
Makefile.coq.conf
.coqdeps.d
.Makefile.coq.d

src/extraction/*.ml
src/extraction/*.mli
src/extraction/STAMP

*.exe
*.ini
bin/vericert

# Ocaml
_build
.merlin

/docs/html
.DS_Store
debug/*

# CompCert
*.rtl.*
*.rtl
*.ltl
a.out
lib/COMPCERTSTAMP

# Misc
lpsolve.txt

# Benchmarks

benchmarks/**/*.v

*.gcc
*.iver
*.dot

# Test
*.check
*.txt
*.verilator/
*.tmp
*.clog
obj_dir/
*.[0-9]
/*.c
/*.sv
/*.v

.direnv/

creduce_bug_*/

/doc/src/
/html/

*~
*.man
*.link

/bin
/share
/results*

_CoqProject

lib/COHPREDSTAMP