.*.aux
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.glob
*.ml.d
*.ml4.d
*.mli.d
*.mllib.d
*.mlpack.d
*.native
*.o
*.v.d
*.vio
*.vo
*.vok
*.vos
.coq-native/
.csdp.cache
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache

Makefile.coq
Makefile.coq.conf
.coqdeps.d
.Makefile.coq.d

src/extraction/*.ml
src/extraction/*.mli
src/extraction/STAMP

*.exe
*.ini
bin/vericert

# Ocaml
_build
dune-project
.merlin

/docs/html
.DS_Store
debug/*

# CompCert
*.rtl.*
*.rtl
*.ltl
a.out
lib/COMPCERTSTAMP

# Misc
lpsolve.txt

# Benchmarks

benchmarks/**/*.v

*.gcc
*.iver
*.dot

/benchmarks/polybench-syn/stencils/seidel-2d
/benchmarks/polybench-syn/stencils/jacobi-2d
/benchmarks/polybench-syn/data-mining/covariance
/benchmarks/polybench-syn/linear-algebra/blas/gemm
/benchmarks/polybench-syn/linear-algebra/blas/gemver
/benchmarks/polybench-syn/linear-algebra/blas/gesummv
/benchmarks/polybench-syn/linear-algebra/blas/symm
/benchmarks/polybench-syn/linear-algebra/blas/syr2k
/benchmarks/polybench-syn/linear-algebra/blas/syrk
/benchmarks/polybench-syn/linear-algebra/blas/trmm
/benchmarks/polybench-syn/linear-algebra/kernels/2mm
/benchmarks/polybench-syn/linear-algebra/kernels/3mm
/benchmarks/polybench-syn/linear-algebra/kernels/atas
/benchmarks/polybench-syn/linear-algebra/kernels/bicg
/benchmarks/polybench-syn/linear-algebra/kernels/doitgen
/benchmarks/polybench-syn/linear-algebra/kernels/mvt
/benchmarks/polybench-syn/linear-algebra/solvers/cholesky
/benchmarks/polybench-syn/linear-algebra/solvers/durbin
/benchmarks/polybench-syn/linear-algebra/solvers/lu
/benchmarks/polybench-syn/linear-algebra/solvers/ludcmp
/benchmarks/polybench-syn/linear-algebra/solvers/trisolv
/benchmarks/polybench-syn/medley/floyd-warshall
/benchmarks/polybench-syn/medley/nussinov
/benchmarks/polybench-syn/stencils/adi
/benchmarks/polybench-syn/stencils/fdtd-2d
/benchmarks/polybench-syn/stencils/heat-3d
/benchmarks/polybench-syn/stencils/jacobi-1d

/benchmarks/polybench-syn-div/stencils/seidel-2d
/benchmarks/polybench-syn-div/stencils/jacobi-2d
/benchmarks/polybench-syn-div/data-mining/covariance
/benchmarks/polybench-syn-div/linear-algebra/blas/gemm
/benchmarks/polybench-syn-div/linear-algebra/blas/gemver
/benchmarks/polybench-syn-div/linear-algebra/blas/gesummv
/benchmarks/polybench-syn-div/linear-algebra/blas/symm
/benchmarks/polybench-syn-div/linear-algebra/blas/syr2k
/benchmarks/polybench-syn-div/linear-algebra/blas/syrk
/benchmarks/polybench-syn-div/linear-algebra/blas/trmm
/benchmarks/polybench-syn-div/linear-algebra/kernels/2mm
/benchmarks/polybench-syn-div/linear-algebra/kernels/3mm
/benchmarks/polybench-syn-div/linear-algebra/kernels/atas
/benchmarks/polybench-syn-div/linear-algebra/kernels/bicg
/benchmarks/polybench-syn-div/linear-algebra/kernels/doitgen
/benchmarks/polybench-syn-div/linear-algebra/kernels/mvt
/benchmarks/polybench-syn-div/linear-algebra/solvers/cholesky
/benchmarks/polybench-syn-div/linear-algebra/solvers/durbin
/benchmarks/polybench-syn-div/linear-algebra/solvers/lu
/benchmarks/polybench-syn-div/linear-algebra/solvers/ludcmp
/benchmarks/polybench-syn-div/linear-algebra/solvers/trisolv
/benchmarks/polybench-syn-div/medley/floyd-warshall
/benchmarks/polybench-syn-div/medley/nussinov
/benchmarks/polybench-syn-div/stencils/adi
/benchmarks/polybench-syn-div/stencils/fdtd-2d
/benchmarks/polybench-syn-div/stencils/heat-3d
/benchmarks/polybench-syn-div/stencils/jacobi-1d

# Test
*.check
*.txt
*.verilator/
*.tmp
*.clog
obj_dir/
*.[0-9]
/*.c
/*.sv
/*.v

.direnv/
