.*.aux
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.glob
*.ml.d
*.ml4.d
*.mli.d
*.mllib.d
*.mlpack.d
*.native
*.o
*.v.d
*.vio
*.vo
*.vok
*.vos
.coq-native/
.csdp.cache
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache

Makefile.coq
Makefile.coq.conf
.coqdeps.d

src/extraction/*.ml
src/extraction/*.mli
src/extraction/STAMP

*.exe
*.ini
bin/vericert

# Ocaml
_build
dune-project
.merlin
